.container {
  display: flex;
}

.container > div {
  flex: 1;
  min-width: 100px;
}

.container > div:first-child {
  flex: 0 0 200px;
}

.container > div:last-child {
  flex: 0 0 300px;
}

@media (max-width: 600px) {
  .container > div:nth-child(2) {
    width: 100px;
  }
}
